*{
	margin:0px;
	padding:0px;
}

body{
	font-family: "Helvetica";
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

#welcome{
	display: block;
	width: 100%;
	height: 800px; 
	background: url("../images/minimal_moose.png") center fixed;
    padding:0;
	margin:0;
}

#projects{
	background-color:transparent;
	margin: 250px auto;
}

#connect{
	background-color:transparent;
	height:auto;
	padding: 100px 0px;
	text-shadow: 2px 2px 5px navy;
}
	
.brand_name{
	text-shadow: 1px 1px 5px navy;
	font-size: 30px;
	font-variant: small-caps;
}

#mainNavBar ul li a{
	text-shadow: .5px .5px 3px navy;
	font-size: 20px;
	color:#000033;
}

.social_icons a img{
	height:50px;
	width:50px;

}

.border-style{
	//border: 1px solid black;
}

.make_box{
	margin: 60px 0px 140px 0px;
	box-shadow: 0px 0px 5px
}

.footer_box{
	background-color:grey;
	height:auto;
}

.footer_box p{
	color:lightgrey;
	text-shadow: 1px 1px 2px navy;
	font-size:15px;
}

.make_border{
	border: 2px solid black;
}

.custom-box{
	background-color:transparant;
	height:auto;
	width: 500px;
	margin:10px auto;
}

.navbar-inner {
    background:transparent;
}



.mouseOver:hover {
	transition: .10s ease;
	opacity: 0.5;
}




